.wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.wrap .contentWrap {
  position: relative;
  flex: 1;
  min-height: 100vh;
  background-color: #f0f2f5;
  overflow: auto;
}
.wrap .main{
  flex: 1;
  margin-top: 52px;
  min-height: calc(100vh - 132px);
}
.fade-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.fade-exit {
  opacity: 1;
  transform: translateX(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms;
}