html,
body,
:global(#root) {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

:global(.ant-menu) {
  height: calc(100% - 50px) !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
  background-color: #d4d1d1;
}
